{% extends "base.html" %}

{% block title %}contact page{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="contact-info">
      <h1><br><strong>Thankyou for your message {{ name }}</strong></h1>
    </div>
  </div>

  <!-- message form -->
  <div class="col-sm">
  <div class="contact-info">
    <h1><br><strong>Contact information</strong></h1>
    <ul>
      <li>Name: Jeremie Izzo</li>
      <li>Email: izzo.j@hotmailcom</li>
      <li>Phone: (514)476-6993</li><br>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </ul>
  </div>
  </div>
  </div>
  </div>
{% endblock %}
