{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
      <h1 class="mainWelcome">Jeremie Izzo</h1>
      <p class="welcomeDescription"> General computer science student</p>
    </div>
    <div class="col">
      <div class="mainAbout">
        <h1 class="mainAboutHeader">About</h1>
        <p class="mainabouttext">Hello, my name is jeremy izzo. I am currently working on my degree in computer science at concordia university. I am an AI fanatic currently self learning the process. I end my program in December 2020. For more information on my projects and work experiences please visit the about and projects tabs above. </p>
      </div>
    </div>
  </div>
{% endblock %}
