{% extends "base.html" %}

{% block title %}projects page{% endblock %}

{% block body %}
<div class="projects">
    <h3>Web portfolio(In progress)</h3>
    <p>This is the creation of this portfolio from scratch using Html, CSS, Bootstrap(for now). This portfolio allowed me to develop a skill in web programming. ....... TO BE DEVELOPED </p>
    <a href="#">Github link(To be developed)</a>
    <br>
    <br>
    <h3>E-commerce website(In progress)</h3>
    <p>This is a website created as an intent to simulate a real e-commerce website. The framework used to develop this application is Angular7.....TO BE DEVELOPED</p>
    <a href="#">Github link(To be developed)</a>
    <br>
    <br>
    <h3>Power Grid board game</h3>
    <p>This is a program created in C++ to simulate the board game <a href="https://boardgamegeek.com/boardgame/2651/power-grid">Power Grid</a>. .....TO BE DEVELOPED </p>
    <a href="#">Github link(To be developed)</a>
  </div>
{% endblock %}